.loader {
  background-color: transparent;
  .ant-modal-content {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
  }
}

.ant-modal-mask {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.6px);
  -webkit-backdrop-filter: blur(8.6px);
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
}

main > div {
  max-width: 1440px;
}
